trigger:
  - Deployment-Webapp

variables:
  azureSubscription: Self-HBO_ICT
  projectRoot: $(System.DefaultWorkingDirectory)
  pythonVersion: "3.9"
  gitrepo: https://github.com/mikegroot99/Mixit-Shared.git


stages:
  - stage: Build
    displayName: Build and Push
    pool:
      name: Default
    jobs:
      - job: install_dependencies
        steps:
          - script: az login --identity
            displayName: Authenticate Azure CLI using private agent identity
          - script: apt update
            displayName: apt update database
          - script: apt install python python-pip
            displayName: apt install python and pip
          - script: python -m pip install --upgrade flask
            displayName: Install flask application
          - script: |
              python -m venv antenv
              source antenv/bin/activate
              python -m pip install --upgrade pip
              pip install setup
              pip install -r requirements.txt
              az deployment group create --template-file $(templateFile)
              az webapp deployment source config --name $(webAppName) --resource-group $resourceGroup \
              --repo-url $(gitrepo) --branch main --manual-integration
            workingDirectory: $(projectRoot)
            displayName: "Install requirements"

          - task: ArchiveFiles@2
            displayName: "Archive files"
            inputs:
              rootFolderOrFile: "$(projectRoot)"
              includeRootFolder: false
              archiveType: zip
              archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
              replaceExistingArchive: true

          - upload: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
            displayName: "Upload package"
            artifact: drop
